
.header{
  font-size: 100px;
  color: goldenrod;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 100px darkblue;
  font-family: "Bauhaus 93";
}

.background{
  background: blueviolet;
}

.column {
  float: right;
  width: 33.33%;
}

.box1 {
  background: url("images/Roborally.jpg") no-repeat;
  background-size: contain;
  border: 6px solid #333;
  background-repeat: repeat-x;
}

.dropbtn {
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: blue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowncontent a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowncontent a:hover {background-color: blue}

.dropdown:hover .dropdowncontent {
  display: block;
  position: absolute;
  background: blue;
  margin-top: 15px;
  margin-left: -15px;

}

.dropdown:hover .dropbtn {
  background-color: blue;
}



